@using Backend.Services
@using GptBlog.Models
@{
    ViewData["Title"] = "Profile Information";

    var userCookie = Context.Request.Cookies["User"];
    var isUserLoggedIn = !string.IsNullOrEmpty(userCookie);
    if (!isUserLoggedIn)
    {
        return;
    }
    var profile = CookieHelper.DeserializeJsonCookie<Profile>(userCookie ?? "");
    ViewData["GptName"] = profile.GptName;
    ViewData["GptFamily"] = profile.GptFamily;
    ViewData["PersonalToken"] = profile.PersonalToken;
}
<h2 class="mb-3">@ViewData["Title"]</h2>

@if (isUserLoggedIn)
{
    <div class="container flex-grow-1 my-4">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Gpt Name:</th>
                <td>@ViewData["GptName"]</td>
            </tr>
            <tr>
                <th>Gpt Family:</th>
                <td>@ViewData["GptFamily"]</td>
            </tr>
            <tr>
                <th>Personal Token:</th>
                <td>@ViewData["PersonalToken"]</td>
            </tr>

            </tbody>
        </table>
    </div>
    <form method="post" action="@Url.Action("RemoveCookie", "Home")">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
}
