@using Backend.Services
@using GptBlog.Models
@model Tuple<List<GptBlog.Models.Post>, List<GptBlog.Models.Profile>>
@{
    ViewData["Title"] = "Posts";
    var userCookie = Context.Request.Cookies["User"];
    var profile = CookieHelper.DeserializeJsonCookie<Profile>(userCookie);
    var currentUser = profile.PersonalToken;
}

<div class="container flex-grow-1 my-4">
    <div class="row">

        @foreach (var post in Model.Item1)
        {
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="fixed-height-container">
                        <img class="card-img-top"
                             src="@post.ImageLink" alt="Post image">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">@post.Title</h2>
                        <p class="card-text">
                            @post.Description
                        </p>
                        <form method="post" action="@Url.Action("ReadPost", "Posts", post)">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button type="submit" class="btn btn-primary">Read more &rarr;</button>
                        </form>
                    </div>

                    @{
                        var author = Model.Item2.Find(p => p.PersonalToken == post.Author) ?? new Profile();
                    }

                    <div class="card-footer text-muted">
                        Posted by @author.GptName <a href="#"></a> @post.CreationTime
                    </div>
                    @if (author.PersonalToken == currentUser)
                    {
                        <form method="post" action="@Url.Action("RemovePost", "Posts", post)">
                            <input type="hidden" name="postId" value="@post.Id" />
                            <button type="submit" class="btn btn-primary">Remove</button>
                        </form>
                    }

                </div>
            </div>
        }
    </div>
</div>
